*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
body{
    margin: 0;
    padding: 0;
    font-family: montserret;
    background-image: url(back5.jpg);
  
   
}
nav{
    background: rgb(243, 184, 145);
    height: 80px;
    width: 100%;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: ;
    transition: .5s;
}
label.logo{
    color: white;
    font-size: 35;
    line-height: 80px;
}
.box{
    width: 500px;
    height: 450px;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 50%); 
    background-color: rgb(243, 184, 145);
   
    backface-visibility: visible;
    text-align: center;
}
.box h1{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 700;
}
.box input[type="text"],.box input[type="number"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid white;
    padding: 14px 10px;
    width: 220px;
    outline-color: none;
    border-radius: 24px;
    transition: 0.25px;
}
.box input[type="text"]:focus,.box input[type="number"]:focus{
     width: 270px;
     border-color: burlywood;
}
.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid white;
    padding: 14px 35px;
    outline-color: none;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}
.box input[type="submit"]:hover{
    background:rgb(247, 108, 54);
}